*{
   
  margin: 0;
  padding: 0;
  
}

body{
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  min-height: 100vh;
  
}
/* utilities */
.uclass{
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* header */
nav{
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo{
  margin: 40px;
  color: #f00;
}
ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 30px;

}
li{
  justify-content: space-between;
  margin: 10px;
  margin-right: 80px;
}
a{
  color: #f00;
}
a:hover,
a.current{
  color: #333;
}

main{
  border: none;
  display: grid;
  grid-template-areas: 
  'a b c'
  'a b c'
  'a b c'
  ;
  justify-content: center;
  width: 50%;
  align-items: left;
  margin: 20px auto;
  height: 100%;

}
.grid-item1{
  background-color: hsl(31, 77%, 52%);
  grid-area: a;
} 
.grid-item2{
  background-color: hsl(184, 100%, 22%);
  grid-area: b;
}
.grid-item3{
  background-color: hsl(179, 100%, 13%);
}
h2{
  color: hsl(0, 0%, 95%);
  font-family: font-family: 'Big Shoulders Display', cursive;

}
p{
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
}
button{
  background-color: hsl(0, 0%, 95%);
  padding:  10px 20px;
  border-radius: 25px;
  border: none;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
}
.btn1{
  color:hsl(31, 77%, 52%);
}
.btn2{
  color: hsl(184, 100%, 22%);
}
.btn3{
  color: hsl(179, 100%, 13%);
}