*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
/* utilities */
.uclass{
  margin: 20px auto;
  padding-left: 40px;
  padding-right: 35px;
}
.uclas{
  margin-top: 20px;
  padding-left: 40px;
  width: 100%;
}
/* header */
nav{
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo{
  margin: 40px;
  color: #f00;
}
ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 30px;

}
li{
  justify-content: space-between;
  margin: 10px;
  margin-right: 80px;
}
a{
  color: #f00;
}
a:hover,
a.current{
  color: #333;
}
/* main */
.container{
  border: none;
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: left;
  margin: 20px auto;
  height: 100%;
  justify-self: left;
  padding-right: 10px;

}
.first{
  background-color: hsl(31, 77%, 52%);
  width: 100%;
  
  
} 
.second{
  background-color: hsl(184, 100%, 22%);
  width: 100%;
}
.third{
  background-color: hsl(179, 100%, 13%);
  width: 100%;
  /* align-self: left; */
  /* padding-right: 10px; */
}
h2{
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}
button{
  /* background-color: hsl(0, 0%, 95%); */
  padding:  10px 20px;
  border-radius: 25px;
  border: none;
  margin-bottom: 20px;
}

.button1:hover{
  background-color: hsl(31, 77%, 52%);
  border: 1px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
.button2:hover{
  background-color: hsl(184, 100%, 22%);
  border: 1px solid hsl(0, 0%, 95%);
}
.button3:hover{
  background-color: hsl(179, 100%, 13%);
  border: 1px solid hsl(0, 0%, 95%);
}
a{
  text-decoration: none;
}
.btn1,.btn2,.btn3a:hover{
  color: hsl(0, 0%, 95%);
}
.btn1{
  color:hsl(31, 77%, 52%);
}
.btn1:hover{
  color: hsl(0, 0%, 95%);
}
.btn2{
  color: hsl(184, 100%, 22%);
}
.btn2:hover{
  color: hsl(0, 0%, 95%);
}
.btn3{
  color: hsl(179, 100%, 13%);
}
.btn3:hover{
  color: hsl(0, 0%, 95%);
}
